<ol class="messages">
    <li>Welcome to ChatBoot</li>
    <!-- <li class="ours">Hi, babe!</li>
    <li class="ours">I have something for you.</li> -->



</ol>

<div class="row justify-content-center mt-auto">
    <div class="col-5">
        <div class="form-group">



            <input type="text" class="form-control" [(ngModel)]="message" name="message" id="" aria-describedby="helpId" placeholder="Tappez message...">

        </div>

    </div>


    <div class="col-1"> <a name="" id="" class="btn btn-success" (click)="send();" role="button">Send</a></div>



</div>