.messages {
    /* Flexbox-specific styles */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* General styling */
    font: 16px/1.3 sans-serif;
    height: 600px;
    list-style-type: none;
    margin: 0 auto;
    padding: 8px;
    overflow: auto;
    width: 500px;
    border: coral;
}


/* Default styles for chat bubbles */

.messages li {
    background: #eee;
    border-radius: 8px;
    padding: 8px;
    margin: 2px 8px 2px 0;
}


/* Styles specific to our chat bubbles */

.messages li.ours {
    align-self: flex-end;
    /* Stick to the right side, please! */
    background-color: cadetblue;
    margin: 2px 0 2px 8px;
}